[submodule "Lab 1/tinkerbelle"]
	path = Lab 1/tinkerbelle
	url = git@github.com:FAR-Lab/tinkerbelle.git
[submodule "Final Project/wiki"]
	path = Final Project/wiki
	url = git@github.com:jschmidtnj/Interactive-Lab-Hub.wiki.git
